body {
}

.card {
    background: #d8cefe;
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border-bottom: 10px solid #f15bb5;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 150px;
    margin-right: 20px;
}

.info {
    /* background: #b8b8FF; */
    
}

#more-info {
    font-style: italic;
}